<component name="ArtifactManager">
  <artifact type="war" name="SpringHibernateMaven:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="UserManger.war">
      <element id="artifact" artifact-name="SpringHibernateMaven:war exploded" />
    </root>
  </artifact>
</component>